 <footer>
    <footer class="section-text-white footer footer-links bg-darken">
        <div class="footer-body container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <a class="footer-logo" href="./">
                        <span class="logo-element">
                            <span class="logo-tape">
                                <span class="svg-content svg-fill-theme"
                                    data-svg="{{ asset('build/assets/img/svg/logo-part.svg') }}"></span>
                            </span>
                            <span class="logo-text text-uppercase">
                                <span>M</span>emico</span>
                        </span>
                    </a>
                    <div class="footer-content">
                        <p class="footer-text">Sidestate NSW 4132,
                            <br />Australia</p>
                        <p class="footer-text">Call us:&nbsp;&nbsp;(555) 555-0312</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title text-uppercase">Movies</h5>
                    <ul class="list-unstyled list-wide footer-content">
                        <li>
                            <a class="content-link" href="#">All Movies</a>
                        </li>
                        <li>
                            <a class="content-link" href="#">Upcoming movies</a>
                        </li>
                        <li>
                            <a class="content-link" href="#">Top 100 movies</a>
                        </li>
                        <li>
                            <a class="content-link" href="#">Blockbasters</a>
                        </li>
                        <li>
                            <a class="content-link" href="#">British movies</a>
                        </li>
                        <li>
                            <a class="content-link" href="#">Summer movies collection</a>
                        </li>
                        <li>
                            <a class="content-link" href="#">Movie trailers</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title text-uppercase">Information</h5>
                    <ul class="list-unstyled list-wide footer-content">
                        <li>
                            <a class="content-link" href="#">Schedule</a>
                        </li>
                        <li>
                            <a class="content-link" href="#">News</a>
                        </li>
                        <li>
                            <a class="content-link" href="#">Contact us</a>
                        </li>
                        <li>
                            <a class="content-link" href="#">Community</a>
                        </li>
                        <li>
                            <a class="content-link" href="#">Blog</a>
                        </li>
                        <li>
                            <a class="content-link" href="#">Events</a>
                        </li>
                        <li>
                            <a class="content-link" href="#">Help center</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title text-uppercase">Follow</h5>
                    <ul class="list-wide footer-content list-inline">
                        <li class="list-inline-item">
                            <a class="content-link" href="#"><i class="fab fa-slack-hash"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="content-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="content-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="content-link" href="#"><i class="fab fa-dribbble"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="content-link" href="#"><i class="fab fa-google-plus-g"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="content-link" href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                    <h5 class="footer-title text-uppercase">Subscribe</h5>
                    <div class="footer-content">
                        <p class="footer-text">Get latest movie news right away with our subscription</p>
                        <form class="footer-form" autocomplete="off">
                            <div class="input-group">
                                <input class="form-control" name="email" type="email" placeholder="Your email" />
                                <div class="input-group-append">
                                    <button class="btn btn-theme" type="submit"><i class="fas fa-angle-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copy">
            <div class="container">Copyright 2019 &copy; AmigosThemes. All rights reserved.</div>
        </div>
    </footer>
 </footer>