{% extends 'base.html.twig' %}

{% block title %}Faire une recherche{% endblock %}

{% block body %}



<section class="section-long">
    <div class="container">
        <div class="section-head">
            <h2 class="section-title">Effectuer une recherche</h2>
        </div>
    </div>
</section>


{% endblock %}